.footer__item {
  margin-right: 18px;
}

.footer__item:last-of-type {
  margin-right: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 321px) and (max-width: 550px) {
  .footer__item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 320px) {
  .footer__item {
    margin-bottom: 32px;
  }
}
