.place {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 48px 40px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    margin-bottom: 73px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    margin-bottom: 50px;
    gap: 32px 0;
  }
}

.place:last-of-type {
  margin-bottom: 0;
}
